* {
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    margin: 0;
}

.container {
    max-width: 1920;
    padding: 0 135px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.heading-2 {
    font-size: 4.6em;
    font-weight: bold;
    color: #001D83;
}

/* header */

.header {
    background: linear-gradient(#ffffff 140px, #ED2F59 80px );
}

.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 120px;
}

.logo-img {
    margin-right: 10px;
}

.logo-text {
    font-size: 7em;     
}

.social-media-item {
    margin-left: 20px;
}

/* navigation */

.navigation {
    height: 80px;
    background-color: #ED2F59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation-item {
    font-size: 2.4em;
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}

/* slider learn more */

.slider {
    padding-top: 128px;
}

.slider .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn-more-title {
    font-size: 4.7em;
    font-weight: bold;
    color: #204CEA;
}

.learn-more-description {
    font-size: 2.4em;
    max-width: 680px;
}

.button {
    background-color: #204CEA;
    color: #fff;
    font-weight: normal;
}

.button-learn-more {
    width: 270px;
    height: 70px;
    border-radius: 50px;
    border: none;
    font-size: 2em;
}

/* slider */

.products {
    display: flex;
    flex-direction: column;
}

.layout-column-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.products-title {
    font-size: 4.6em;
    font-weight: bold;
    color: #001D83;
}

.products-items {
    display: flex;
}

.border{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-item-title {
    font-size: 2.7em;
    font-weight: bold;
}

.products-item-description {
    font-size: 2em;
    letter-spacing: 0.1em;
}

/* why we are */

.hidden {
    visibility: hidden;
}

.layout-column-2 {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.layout-column-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services {
    max-width: 1726px;
    height: 635px;
    border: 1px solid #939393;
    gap: 0;
}

.services-item {    
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.services-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #939393;
}

.services-item-info h5 {
    font-size: 2.4em;
    text-align: center;
    font-weight: normal;
}

.services-item p {
    border: 1px solid #939393;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f3f3f3;
    font-size: 2em;
    line-height: 24px;  
    letter-spacing: 0.03em;
    padding:  10px 30px;
}

/* catalog */
.catalog .container {
    text-align: center;
}

.layout-column-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.catalog-items {
    width: 1650px;
    gap: 30px;
}

.catalog-item {
    display: grid;
    grid-template-rows: 500px 80px;
}

.catalog-item-info {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.catalog-item-info p {
    font-size: 24px;
    font-weight: bold;
    max-width: 300px;
    align-self: start;
    text-align: left;
}

.button-all-catalog {
    background: #001D83;
    font-size: 2.4em;
}

/* our partners */

/* .our-partners {
    background: linear-gradient(#FFC0CB 50%, #00FFFF 50%);
} */

.our-partners .container {
    text-align: center;
}

.our-partners-items {
    gap: 240px;
}

.our-partners-item {
    max-width: 390px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

/* premium */

.premium {
    background-color: #ededed;
}

.premium .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.premium-title {
    word-spacing: 2em;
}

.premium-title span:nth-child(1) {
    font-size: 5em;
    color: #ED2F59;
}

.premium-title span:nth-child(2) {
    font-size: 5em;
    font-weight: 400;
}

.premium-title span:nth-child(3) {
    font-size: 6em;
    font-weight: bold;
    color: #ED2F59;
}

/* footer */

.footer {
    background: linear-gradient(#ED2F59 140px, #000000 60px);
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.feedback p {
    color: #fff;
    font-size: 2.4em;
}

.copyright {
    height: 60px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
    color: #ffffff;
}